<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Shopping Cart - FastMoose</title>
    <meta name="description" content="FastMoose - Fast Website">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/Inter.css">
    <link rel="stylesheet" href="../static/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/Contact-Form-v2-Modal--Full-with-Google-Map.css">
    <link rel="stylesheet" href="../static/css/untitled.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md fixed-top navbar-shrink py-3" id="mainNav">
        <div class="container"><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button><p><a href="/"><img src="../static/img/mmos.png"></a></p>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item"><a class="nav-link" href="/">Главная</a></li>
                    <li class="nav-item"><a class="nav-link" href="team">Наша команда</a></li>
                    <li class="nav-item"><a class="nav-link" href="products">Меню</a></li>
                    <li class="nav-item"><a class="nav-link" href="contacts">Контакты</a></li>
                    <li class="nav-item"><a class="nav-link active" href="shopping-cart">Доставка</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="py-5 mt-5">
        <div class="container py-5">
            <div class="row mx-auto" style="/*max-width: 700px;*/">
                <div class="col"><h1 class="fw-bold text-primary mb-2"><strong>Мир не стоит на месте, как и мы, поэтому было принято решение осуществлять доставку через telegram.</strong></h1>
<h3><code>@FastMooseDeliveryBot</code></h3>
<h1></h1>
<h1></h1>
<h4></h4><span>Вам не нужно устанавливать никаких дополнительных приложений!</span></div>
            </div>
        </div>
    </section>
    <footer class="bg-primary-gradient">
        <div class="container py-4 py-lg-5">
            <hr>
            <div class="text-muted d-flex justify-content-between align-items-center pt-3">
                <p class="mb-0"><strong>2022 «Быстрый лось»</strong><br><strong>Вкусно готовим, быстро доставляем.</strong><br></p>
                <ul class="list-inline mb-0">
                    <li class="list-inline-item"></li>
                    <li class="list-inline-item"></li>
                    <li class="list-inline-item"></li>
                </ul>
            </div>
        </div>
    </footer>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/js/bs-init.js"></script>
    <script src="../static/js/bold-and-bright.js"></script>
    <script src="../static/js/Contact-Form-v2-Modal--Full-with-Google-Map.js"></script>
</body>

</html>